﻿@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <canvas id="c" style="border: 1px solid black"></canvas>
    </div>
    <script src="../../Scripts/fabric.js" type="text/javascript"></script>
    <script src="../../Scripts/app.js" type="text/javascript"></script>
</body>
</html>
